.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__btn {
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

.main__btn:disabled {
    cursor: default;
}
