main {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.timer {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
  }

  .containerBtn {
    display: flex;
    gap: 15px;
  }
  
  .button {
    display: block;
    font-size: 24px;
    padding: 10px 20px;
  }
  